#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    width: 15vw;
    height: 7vw;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>h2 {
    font-size: 1rem;
    font-weight: 500;
}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem; /* Add equal padding on both sides */
}

.btnRow {
    display: flex;
    justify-content: space-between; /* Add equal spacing between buttons */
    margin-bottom: 0.5rem; /* Add margin between rows */
}

.btnRowHeader {
    font-weight: bold;
    margin-bottom: 1rem; /* Add spacing below the header */
    margin-top: 1rem;
}

.btn {
    background: white;
    margin: 0rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}