#works {
    margin: 0 auto;
    min-height: calc(80vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Distribute space evenly between items */
    flex-wrap: wrap;
    width: 95vw;
    max-width: 65rem;
    padding: 0 1rem; /* Add padding to the sides */
}

.worksImgContainer {
    position: relative;
    cursor: pointer;
    border: 2px solid yellow; /* Add white border */
    border-radius: 1rem; /* Add rounded corners */
    overflow: hidden; /* Hide overflow to round corners properly */
    width: calc(33.33% - 1.5rem); /* Set width to 33.33% minus margins */
    margin: 0.5rem 0.25rem; /* Add vertical and horizontal margin */
    height: 300px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}

.worksImg {
    width: 100%;
    height: 250px;
    margin-top: 25px;
}

.projectTitle {
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Add background color */
    padding: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.worksImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.worksImgContainer:hover .worksImgOverlay {
    opacity: 1;
}

.projectDescription {
    font-size: 1rem;
    color: white;
    margin-bottom: 3.5rem;
    max-width: 94%;
    text-align: center;
}

@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}